* {
    margin: 0;
}
/* Add nav menu from bootstrap */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid red;
    background-color: rgba(80, 185, 245, 0.3);
}
#logo {
    width: 80px;
    height: 80px;
}
.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar ul > li a{
    margin-right: 50px;
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
}
.tours-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
.tours-grid div{
    text-align: center;
    margin: 30px;
    padding: 20px;
    width: 400px;
    height: 200px;
    border: 3px solid red;
    border-radius: 30px;
}