* {
    margin: 0;
    }

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppins', sans-serif;
    background-color: #5893b573;
    font-size: 20px;
}

#logo {
    margin: 0;
    width: 80px;
    height: 80px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar ul > li a{
    margin-right: 50px;
    text-decoration: none;
    color: black;
}
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00A1F2;
}


#hero-img{
    margin: 20px;
    width: 50%;
    height: 50%;
}








footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
}
